.bg {
	 background:url('./../../assets/images/login_bg.png') no-repeat;
	 width: 100vw;
	 height: 100vh;
	 background-size: cover;
}
.loginbox {
	margin-left: auto;
    margin-right: auto;
    width: 50%;
	background-color: #f5f5f5;
	padding-right: 0px;
	padding-left: 0px;
	vertical-align: middle;
	margin-top: 16vh;
}
.formcontent {
	top-margin: 20px;
}
.logo {
	text-align: center;
}
.removepadding {
	padding-right: 0px;
	padding-left: 0px;
}
.login-btn {
	background-color: #01b4bc;
	color: white;
}
.clearfix {
	overflow: auto;
}