<!-- <nav class="navbar sticky-top navbar-light bg-light row">
    <div class="col-md-2 toolbarContent">
      <span class="toolbarBreadcrumb"></span>
      <span class="toolbarlogo"></span>
    </div>
    <div class="col-md-6 toolbarName">
      Estrella
    </div>
    <div class="col-md-4 toolbarRight">
      Welcome<span> {{user}} </span>
      <span class="toolbarUser"></span>
      <span>Contact </span>
      <span class="toolbarContact"></span>
      <span>Logout </span>
      <span class="toolbarLogout"></span>
    </div>
</nav> -->
<nav class="navbar sticky-top navbar-light bg-light">
  <span toolbarLeft>
    <span class="toolbarBreadcrumb"></span>
    <span class="toolbarlogo"></span>
  </span>
  <span class="toolbarName">
    Estrella
  </span>
  <span toolbarRight>
    Welcome<span> {{user}} </span>
    <span class="toolbarUser"></span>
    <span>Contact </span>
    <span class="toolbarContact"></span>
    <span>Logout </span>
    <span class="toolbarLogout"></span>
  </span>
</nav>